/* More space at the bottom of the page. */
.md-main__inner {
  margin-bottom: 1.5rem;
}

.md-header__button.md-logo img{
  width: 100%;
}

.md-nav__link[href='#services.coreset_tree.kmeans']{height: 0px; display: none}
.md-nav__link[href='#services.coreset_tree.lg']{height: 0px; display: none}
.md-nav__link[href='#services.coreset_tree.lr']{height: 0px; display: none}
.md-nav__link[href='#services.coreset_tree.pca']{height: 0px; display: none}
.md-nav__link[href='#services.coreset_tree.svd']{height: 0px; display: none}
.md-nav__link[href='#services.coreset_tree.dtc']{height: 0px; display: none}
.md-nav__link[href='#services.coreset_tree.dtr']{height: 0px; display: none}
.md-nav__link[href='#data.common']{height: 0px; display: none}
/*
I do not remember what I tried to fix this way,
anyway now it breaks newlines in code blocks inside docstring!
Probably I tried to fix non-wrapping signatures in Code Reference
But now it's now working anyway, even with this code -

.doc-object .highlight pre code{
  display: flex;
  flex-wrap: wrap;
}
*/

.doc-label-dataclass, .doc-class-bases{
  display: none;
}